#main-doc {background-color: #F7E3A7;}
      h1 {text-align: center;}
      .main-section {font-family: helvetica;}
      #safety
      #Breathing
      #Patience
      #Acceptance
      #Gratitude
      .nav-link
      @media (max-height: 800px){p{font-size: 10px;}}
#navbar {
  position: fixed;