
      #main {background-color: #d0e6db; color: black; font-family: monospace;}
      h1 {font-size: 50px; color: #2f1924; text-align: center; padding: 20px 20px 10px 20px;}
      h2 {font-size: 20px; text-align: center;}
      #title {font-family: sans-serif;}
      #img-div {text-align: center;}
      #image {border-color: #2f1924; border-width: 10px; border-style: solid; border-radius: 20%; width: 100%;
height: auto; max-width: 1000px;
margin-left: auto;
margin-right: auto;
display: block;}
      #img-caption {text-align: center; padding: 20px 20px 20px 20px; font-size: 15px; font-family: sans-serif;}
      h3 {font-size: 20px;}
      #tribute-info {font-size: 15px; text-align: center; margin: 0px 0px 0px 320px; width: 450px;}
      #footer {background-color: #d0e6db; font-family: monospace; font-size: 23px;}
      #tribute-link:hover {color: blue;}
 